* {
  font-family: "Inter", sans-serif;
}

/* root */
:root {
  --bluish: #004e64;
  --blue-light: #d7f7ff;
  --greenish: #00ad13;
  --green-light: #d1fadf;
  --yellowish: #ffd41d;
  --purplish: #db00ff;
  --purple-dark: #8f00ff;
}

/* colors */
.text-bluish {
  color: var(--bluish);
}
.text-greenish {
  color: var(--greenish);
}
.text-purplish {
  color: var(--purplish);
}
.text-purple-dark {
  color: var(--purple-dark);
}

/* bg colors */
.bg-greenish {
  background-color: var(--greenish);
}
.bg-green-light {
  background-color: var(--green-light);
}
.bg-yellowish {
  background-color: var(--yellowish);
}
.bg-blue-light {
  background-color: var(--blue-light);
}

/* fonts */
.font-space {
  font-family: "Space Grotesk", sans-serif;
}
